
## <summary>policy for tcccoin</summary>


########################################
## <summary>
##	Transition to tcccoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`tcccoin_domtrans',`
	gen_require(`
		type tcccoin_t, tcccoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, tcccoin_exec_t, tcccoin_t)
')


########################################
## <summary>
##	Execute tcccoin server in the tcccoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tcccoin_initrc_domtrans',`
	gen_require(`
		type tcccoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, tcccoin_initrc_exec_t)
')


########################################
## <summary>
##	Search tcccoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tcccoin_search_lib',`
	gen_require(`
		type tcccoin_var_lib_t;
	')

	allow $1 tcccoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read tcccoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tcccoin_read_lib_files',`
	gen_require(`
		type tcccoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, tcccoin_var_lib_t, tcccoin_var_lib_t)
')

########################################
## <summary>
##	Manage tcccoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tcccoin_manage_lib_files',`
	gen_require(`
		type tcccoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, tcccoin_var_lib_t, tcccoin_var_lib_t)
')

########################################
## <summary>
##	Manage tcccoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tcccoin_manage_lib_dirs',`
	gen_require(`
		type tcccoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, tcccoin_var_lib_t, tcccoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a tcccoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`tcccoin_admin',`
	gen_require(`
		type tcccoin_t;
		type tcccoin_initrc_exec_t;
		type tcccoin_var_lib_t;
	')

	allow $1 tcccoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, tcccoin_t)

	tcccoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 tcccoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, tcccoin_var_lib_t)

')

